<form
  action="https://buttondown.email/api/emails/embed-subscribe/kgorman"
  method="post"
  class="bd-form"
>
  <input type="hidden" name="redirect_url" value="https://gpxc.cc/">
  <label for="bd-email">subscribe for a weekly digest of stories</label>
  <div class="row">
    <input type="email" name="email" id="bd-email" placeholder="you@example.com" required>
    <input type="hidden" name="embed" value="1">
    <button type="submit">subscribe</button>
  </div>
  <small class="bd-note">no spam. unsubscribe anytime.</small>
</form>